*{
margin:0;
padding:0;
}
body{
background:#ff9999;
}
input{
border-radius: 15px;
width: 40px;
padding:5px;

}
form{
position:absolute;
left:40%;
width:30%;
top:200px;
}
form input{
font-size:20px;
left:10px;
position:absolute;
}
.select{
background:#ff0000;
}
